<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Piyush\ProjectManagement\Api\Data\ProjectInterface"
                type="Piyush\ProjectManagement\Model\Project" />
    <preference for="Piyush\ProjectManagement\Api\Data\PomodoroInterface"
                type="Piyush\ProjectManagement\Model\Pomodoro" />
</config>