<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="piyush_project_management" frontName="piyush_project_management">
            <module name="Piyush_ProjectManagement"/>
        </route>
    </router>
</config>
