<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
   <system>
       <section id="project_management" translate="label" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
           <class>separator-top</class>
           <label>Project Management</label>
           <tab>customer</tab>
           <resource>Piyush_ProjectManagement::config</resource>
           <group id="general" translate="label" showInDefault="1" showInWebsite="1">
               <label>General Settings</label>
               <field id="is_enabled" translate="label comment" type="select" showInDefault="1"  showInWebsite="1">
                   <label>Enable</label>
                   <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
               </field>
               <field id="duration" translate="label" type="text" showInDefault="1" showInWebsite="1" canRestore="1">
                   <label>Pomodoro Default Duration</label>
                   <depends>
                       <field id="*/*/is_enabled">1</field>
                   </depends>
                   <validate>required-entry validate-number-range number-range-10-120</validate>
                   <comment>Please specify a default duration of pomodoro between 10 and 120 in minutes. This value can be changed per project from the customer account.</comment>
               </field>
               <field id="pomodoro_audio" translate="label"
                    type="Magento\Config\Block\System\Config\Form\Field\File"
                     showInDefault="1" showInWebsite="1">
                    <label>Pomodoro Finish Sound</label>
                    <backend_model>Piyush\ProjectManagement\Model\Config\Backend\PomodoroAudio</backend_model>
                    <upload_dir config="system" scope_info="1">pomodoro/audio/</upload_dir>
                    <comment>This sound will be played when a pomodoro has been finished successfully.</comment>
                    <depends>
                       <field id="*/*/is_enabled">1</field>
                   </depends>
                </field>
           </group>
       </section>
   </system>
</config>